{% load static %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GearGrind{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External stylesheet -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>
<body class="{% block page_class %}{% endblock %}">
<header>
    <a href="{% url 'home' %}">
        <img src="{{ MEDIA_URL }}assets/logo.png" alt="Logo" class="logo">
    </a>
    {% if not user.is_authenticated %}
        <div class="nav-unregistered-div">
            <a class="buttons" href="{% url 'register' %}">
                Register
            </a>
            <a class="buttons" href="{% url 'login' %}">
                login
            </a>
        </div>

    {% else %}
        <a href="{% url 'create-post' %}" class="pfp">
            <img src="{{ MEDIA_URL }}assets/add_post.png" alt="add-car">
        </a>
        <a href="{% url 'user-details' user.id %}" class="pfp">
            <img src="{{ user.profile_image.url }}" alt="Profile Image ">
        </a>
    {% endif %}

</header>


<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© 2025 GearGrind — All rights reserved.</p>
</footer>

{% block extra_scripts %}
{% endblock %}
</body>
</html>
