{% extends 'core/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/delete_user.css' %}">
{% endblock %}
{% block title %}Car Details{% endblock %}

{% block content %}
    <h2>Are you sure you want to delete your car?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="buttons danger">Yes, delete it</button>
        <a href="{% url 'car-detail' car.id %}" class="buttons">Cancel</a>
    </form>
{% endblock %}
